<h2 mat-dialog-title>Bienvenido a Yojoa Travel</h2>
<form [formGroup]="form">
  <mat-dialog-content>
    <mat-label>Login</mat-label>
    <mat-form-field>
      <input
        matInput
        formControlName="userName"
        placeholder="Usuario o Correo Electronico"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="password"
        placeholder="Password"
        type="password"
      />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button [mat-dialog-close] (click)="signUp()">
      Crear Cuenta
    </button>
    <button mat-button [mat-dialog-close] (click)="login()">
      Iniciar Sesion
    </button>
  </mat-dialog-actions>
</form>
