<mat-toolbar>
    List Activity
    <button mat-button class="menu-button" > 
        <mat-icon>new</mat-icon>
        <span>Add</span>
        
    </button>
</mat-toolbar>
<div class='card-container' layout="row" >
    <mat-card style="width: 350px;" *ngFor="let activity of activities" >
      <img src="{{imagenURI}}{{activity.imageURL}}" class="md-card-image" alt="user avatar" width="150px" height="100px">     
        <mat-card-content>
          <table >
            <tr>
              <td>Name : {{activity.name}}</td>
            </tr>
            <tr>
              <td>Description : {{activity.description}}</td>
            </tr>
            <tr>
              <td>Init Time : {{activity.initTime | date:'medium'}}</td>
            </tr>
            <tr>
              <td>End Time : {{activity.endTime | date:'medium'}}</td>
            </tr>

          </table>
        </mat-card-content>
    </mat-card>
  </div>
