mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 50px;
}

.distance {
  margin: 15px;
}

.colorin {
  background-color: #1687a7;
}
