<div id="signUp">
  <div class="container" fxLayoutAlign="center">
    <mat-card fxLayout="column" class="example-card">
      <mat-card-header fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-title class="distance">Registrate !</mat-card-title>
      </mat-card-header>

      <form [formGroup]="form">
        <ng-container>
          <mat-card-content fxLayout="column">
            <mat-form-field class="distance" fxFlex="40">
              <input matInput formControlName="name" placeholder="Nombre del usuario" />
            </mat-form-field>
            <mat-form-field class="distance" fxFlex="40">
              <input matInput formControlName="email" placeholder="Correo Electronico" />
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="phone" placeholder="Celular" />
            </mat-form-field>
            <mat-form-field class="distance" fxFlex="40">
              <input matInput formControlName="password" placeholder="Password" type="password" />
            </mat-form-field>
          </mat-card-content>
        </ng-container>
        <mat-card-actions fxLayout="column" fxLayoutAlign="space-around center">
          <button mat-raised-button class="distance colorin" (click)="register()">
            Completar Registro
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>

</div>