mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 50px;
}

.distance {
  margin: 15px;
}

.colorin {
  background-color: #1687a7;
}

.example-card {
  max-width: 300px;
  align-items: center;
  align-self: center;
}

#signUp {
  background: url("/assets/images/taylor-murphy-Y8RBSRJnaFA-unsplash.jpg");
  background-size: cover;
  height: 100%;
  margin: 0;
  opacity: 100;
}
