<h2 mat-dialog-title>Bienvenido a Yojoa Travel</h2>
<mat-dialog-content>
  <mat-label>Login</mat-label>
  <mat-form-field>
    <input matInput placeholder="Correo Electronico" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" />
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-label>O Registrate</mat-label>
  <mat-form-field>
    <input matInput placeholder="Correo Electronico" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Celular" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button>Crear Cuenta</button>
  <button mat-button>Iniciar Sesion</button>
</mat-dialog-actions>
